@import './style.scss';

.background {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9999;
    background-color: black;

    // background-color: rgba(0, 0, 0, 0.548);
}
.todoedit__insert {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    background-color: white;

    h2 {
        box-sizing: border-box;
        width: 100%;
        margin: 0;
        text-align: center;
        padding: 0.5rem;
        border-radius: 10px 10px 0 0;
        background-color: $main-color;
    }

    input {
        margin: 2rem 0;
        padding: 0.3rem;
        border: none;
        outline: none;
        border-bottom: 2px solid $main-color;
    }

    button {
        cursor: pointer;
        padding: 0.4rem 1.5rem;
        margin-bottom: 1rem;
        border-radius: 5px;
        color: white;
        background-color: $point-color;
        border: none;
        font: {
            family: 'GangwonEduSaeeum_OTFMediumA';
            size: 1.3rem;
            weight: 600;
        }

        &:hover {
            color: black;
            transform: scale(1.05);
            transition: 0.1s;
            background-color: $back-color;
        }
    }
}