@import './style.scss';

.TodoListItem-virtualized { // 가상에 들어옴
    border-top: 3px solid $main-color;
    & + & {
        border-top: 1px solid #dee2e6;
    }
}

.TodoListItem {
    display: flex;
    align-items: center;
    padding: 1rem;
    font-size: 1.3rem;

    .checkbox {
        display: flex;
        flex: 1;
        align-items: center;
        cursor: pointer;
        svg {
            // icon
            font-size: 1.5rem;
        }

        .text {
            flex: 1;
            margin-left: 0.5rem;
        }

        // checked
        &.checked {
            svg {
                color: $point-color;
            }

            .text {
                color: #adb5bd;
                text-decoration: line-through;
            }
        }
    }

    .remove {
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        color: $import-color;
        cursor: pointer;
        &:hover {
            transform: scale(1.2);
            color: $point-color;
            transition: 0.1s;
        }
    }

    .change {
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        cursor: pointer;
        margin-right: 1rem;

        &:hover {
            transform: scale(1.2);
            color: $point-color;
            transition: 0.1s;
        }
    }
}