@import './style.scss';

.TodoInsert {
    display: flex;
    
    input {
        outline: none;
        border: none;
        padding: 0.5rem;
        padding-left: 1rem;
        font-family: inherit;
        font-size: 1.5rem;
        line-height: 1.5;
        background: none;
        &::placeholder {
            color: #b1b1b1;
        }
        flex: 1;
    }

    button {
        width: 3.5rem;
        height: 4rem;
        outline: none;
        border: none;
        padding-left: 1rem;
        padding-right: 1rem;
        color: #ccc;
        font-size: 1.5rem;
        line-height: 1.5;
        background-color: white;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: 0.2s background-color ease-in;
        
        &:hover {
            svg {
                color: $main-color;
                transition: 0.3s;
            }
        }
    }
}