@font-face {
  font-family: 'GangwonEduSaeeum_OTFMediumA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduSaeeum_OTFMediumA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'GangwonEduSaeeum_OTFMediumA';
  background-color: rgb(250, 243, 233);
}

.flex_box {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
/* code {
  source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */